/* Styles for the Video Attachment Block. */
[data-type="bp/audio-attachment"] {

	.components-placeholder {

		.components-placeholder__label {

			.dashicon {
				margin-right: 1em;
				color: #d84800;
			}
		}
	}
}

.wp-block-bp-audio-attachment audio {
	width: 100%;
}
