.bp-attachments-media-list .media-item {
	position: relative;
	float: left;
	padding: 8px;
	margin: 0;
	color: #444;
	cursor: pointer;
	list-style: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 12.5%;
	box-sizing: border-box;
}

.bp-attachments-media-list .media-item .item-preview {
	position: relative;
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
	background: #eee;
	cursor: pointer;
}

.bp-attachments-media-list .media-item .item-preview:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.bp-attachments-media-list .media-item .vignette {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	transition: opacity .1s;
}

.bp-attachments-media-list .media-item .vignette .centered {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate( 50%, 50% );
}

.bp-attachments-media-list .media-item .vignette:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.bp-attachments-media-list .media-item .vignette img {
	position: absolute;
	top: 0;
	left: 0;
}

.bp-attachments-media-list .media-item .vignette img.portrait {
	max-height: 100%;
}

.bp-attachments-media-list .media-item .vignette img.landscape,
.bp-attachments-media-list .media-item .vignette img.icon {
	max-width: 100%;
}

.bp-attachments-media-list .media-item .vignette img.icon {
	width: auto;
	height: auto;
	padding-bottom: 24px;
}

.bp-attachments-media-list .media-item .vignette img[src$='.svg'].icon {
	height: calc(100% - 32px);
}

.bp-attachments-media-list .media-item .vignette .centered img {
	transform: translate( -50%, -50% );
}

.bp-attachments-media-list .media-item .media-name {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	height: 24px;
	line-height: 1;
	word-wrap: break-word;
	text-align: center;
	font-weight: 600;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.bp-attachments-media-list .media-item .media-name div {
	padding: 5px 2px;
	height: 24px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bp-attachments-media-list .media-items.list {
	display: flex;
	flex-wrap: wrap;
}

.bp-attachments-media-list .media-items.list .media-item {
	flex: 1 1 48%;
	display: flex;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%);
	box-sizing: border-box;
	margin: 0.5em;
}

.bp-attachments-media-list .media-items.list p.no-media {
	width: 100%;
}

.bp-attachments-media-list .media-items.list .media-item .item-preview {
	height: 150px;
	width: 150px;
}

.bp-attachments-media-list .media-items.list .media-item .item-description {
	width: calc(100% - 150px);
	height: calc( 150px - 1em );
	padding: 1em 0 0 1em;
	text-align: left;
}

.bp-attachments-media-list .media-items.list .media-item .item-description .media-name {
	position: relative;
	text-align: left;
	background: none;
	box-shadow: none;
	box-sizing: inherit;
}

.bp-attachments-media-list .media-items.list .media-item .item-description .media-description {
	margin: 1em 0;
}

.bp-attachments-media-list .media-items.list .media-item .item-description .media-description {
	position: relative;
	line-height: 18px;
	max-height: 54px;
	overflow: hidden;
	text-align:justify;
	margin-right: 0;
	padding-right: 1em;
}

.bp-attachments-media-list .media-items.list .media-item .item-description .media-description:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
}

.bp-attachments-media-list .media-items.list .media-item .item-description .media-description:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: rgba(255, 255, 255, 1);
}

.bp-attachments-media-list .media-items.list .media-item .vignette img.icon {
	padding-bottom: 0;
}
