#buddypress div.bp-attachments-uploader-status {
	margin: 1em 0 0;
}

#buddypress div.bp-attachments-uploader-status ul li {
	list-style: none;
	padding: 10px 15px;
	margin: 0 0 1em 0;
}

#buddypress div.bp-attachments-uploader-status ul li.error,
#buddypress div.bp-attachments-uploader-status ul li.delete_error,
#buddypress div.bp-attachments-uploader-status ul li.remove_error {
	background-color: #fdc;
	border: 1px solid #a00;
	color: #800;
}

#buddypress div.bp-attachments-uploader-status ul li.warning {
	background-color: #ffd;
	border: 1px solid #cb2;
	color: #440;
}

#buddypress div.bp-attachments-uploader-status ul li.success,
#buddypress div.bp-attachments-uploader-status ul li.delete_success,
#buddypress div.bp-attachments-uploader-status ul li.remove_success {
	background-color: #efc;
	border: 1px solid #591;
	color: #250;
}

#buddypress div.bp-attachments-downloading .bp-progress {
	background: none;
	border: 1px solid #d1d1d1;
	height: 10px;
	padding: 0;
	overflow: hidden;
	width: 80%;
}

#buddypress div.bp-attachments-downloading .bp-bar {
	background-color: #c3ff88;
	width: 0;
	height: 100%;
	z-index: 9;
}

#buddypress .bp-uploader-progress div.error {
	background-color: #fdc;
	border: 1px solid #a00;
	color: #800;
	display: block;
	font-size: 90%;
	padding: 10px 15px;
}

#buddypress #bp-uploader-warning {
	background-color: #ffd;
	border: 1px solid #cb2;
	color: #440;
	display: block;
	font-size: 90%;
	margin: 1em 0;
	padding: 10px 15px;
}

#buddypress #drag-drop-area {
	border: 4px dashed #bbb;
	height: 200px;
}

#buddypress .drag-drop.drag-over #drag-drop-area {
	border-color: #83b4d8;
}

#buddypress .drag-drop-inside p {
	display: none;
}

#buddypress .drag-drop-inside p.drag-drop-buttons {
	margin-top: 80px;
	text-align: center;
}

#buddypress .drag-drop .drag-drop-inside p.drag-drop-buttons {
	margin: auto;
	text-align: auto;
}

#buddypress .drag-drop #drag-drop-area {
	display: table;
	height: 100%;
	width: 100%;
}

#buddypress .drag-drop .drag-drop-inside {
	display: table-cell;
	padding: 40px 0;
	text-align: center;
	vertical-align: middle;
}

#buddypress .drag-drop .drag-drop-inside p,
#buddypress .drag-drop-inside p.drag-drop-buttons {
	display: block;
}

#buddypress .drag-drop .drag-drop-inside p {
	color: #aaa;
	font-size: 110%;
	margin: 5px 0;
	text-align: center;
}

#buddypress .drag-drop-inside p.drag-drop-info {margin-top: 0;}

#buddypress {
	margin:1em 0;
}

#buddypress .bp-uploader-progress {
	overflow: hidden;
	clear:both;
}

#buddypress .bp-uploader-progress .bp-progress.bp-attachments-success {
	border: none;
}

#buddypress .bp-uploader-progress a.bp-attachments-edit {
	padding:2px;
	display: block;
	background: #fff;
	border: 1px solid #ccc;
	color: #777;
	font-size: small;
	cursor: pointer;
	outline: none;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

#buddypress .bp-uploader-progress a.bp-attachments-edit:hover {
	background: #ededed;
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}

#buddypress ul#bp-attachments-items {
	margin: 1.6em auto;
	padding: 1em 0;
	list-style: none;
	overflow: hidden;
}

#buddypress ul#bp-attachments-items li {
	display:inline-block;
	overflow:hidden;
	margin:10px;
}

#buddypress ul#bp-attachments-items li .bp-attachments-file {
	position:relative;
	text-align: center;
	font-size:0.8em;
	background: #f1f1f1;
}

#buddypress ul#bp-attachments-items li .bp-attachments-file .bp-attachments-filename {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background: #fff;
	border:none;
	text-decoration: none;
}

#buddypress ul#bp-attachments-items li .bp-attachments-file .bp-attachments-icon img {
	margin-top: 10px;
	display:inline-block;
}
#buddypress ul#bp-attachments-items li .bp-attachments-file .bp-attachments-icon {
	border:none;
	text-decoration: none;
}

#TB_caption {
	font-size:1em;
	float:none;
}

#TB_window .screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

#TB_caption #TB_secondLine {
	float:right;
	margin-right:1em;
}

#TB_Image {
	border:none;
}

#TB_closeWindow .tb-close-icon {
	background: #FFF;
}

.bp-attachments-actions {
	text-align: center;
}

.bp-attachments-actions a {
	text-decoration: none;
	border:none;
	display:inline-block;
	margin:0 0.6em;
}

.bp-attachments-actions a:before {
	font-family: dashicons;
	font-size:18px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bp-attachments-actions a.edit:before {
	content: "\f464";
}

.bp-attachments-actions a.delete {
	color:#800;
}

.bp-attachments-actions a.delete:before {
	content: "\f182";
}

.bp-attachments-actions a.bp-groups:before {
	content: "\f307";
}

.bp-attachments-actions a.remove:before {
 	content: "\f158";
 }
