/**
 * BP Attachments medium view styles.
 *
 * @version 1.0.0
 */
body.attachments.view .bp-attachment-image,
body.attachments.view .bp-attachment-video {
	display: flex;
	align-items: center;
	justify-content: center;
}

body.attachments.view .bp-attachment-image img {
	max-width: 100%;
	height: auto;
}

body.attachments.view .bp-attachment-video video {
	max-width: 100%;
	height: auto;
}
