/**
 * BP Attachments embed medium styles.
 *
 * @version 1.0.0
 */
#bp-embed-header:after {
	clear: both;
	content: "";
	display: table;
	margin-bottom: 1em;
}

.bp-embed-header-avatar {
	float: left;
	margin: 0 0.75em 0 0;
}

p.bp-embed-header-action {
	font-size: 15px;
	margin-bottom: 0;
}

p.bp-embed-header-action a:first-child {
	color: #32373c;
	font-weight: 700;
}

p.bp-embed-header-action img.avatar {
	padding: 0 4px 0 3px;
	vertical-align: text-bottom;
}

.bp-embed-excerpt {
	margin-bottom: 1em;
}

.bp-embed-excerpt a {
	color: #21759b;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	max-width: 250px;
}

.wp-embed-footer {
	margin-top: 20px;
}

span.bp-embed-timestamp {
	font-size: 0.9em;
}

video {
	width: 100%;
	height: auto;
}

audio {
	width: 100%;
}

figcaption {
	font-size: smaller;
	margin: 0.5em auto;
}

figcaption a {
	border-bottom: solid 1px;
}
