div#bp-attachments-activity-medium-preview {
	display: flex;
	gap: 1em;
	align-items: center;
}

div#bp-attachments-activity-medium-preview {
	margin: 0.5em;
}

div#bp-attachments-activity-medium-preview .bp-attachment-file-icon .icon {
	background: rgba(255, 255, 255, 0.8);
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%);
	box-sizing: border-box;
	width: 100px;
	height: 100px;
}

div#bp-attachments-activity-medium-preview .bp-attachment-file-icon .icon.vignette {
	background-size: contain;
}

div#bp-attachments-activity-medium-preview dl.bp-attachment-meta {
	font-size: 80%;
}

div#bp-attachments-activity-medium-preview dl.bp-attachment-meta dt {
	display: inline;
	font-weight: bold;
}

div#bp-attachments-activity-medium-preview dl.bp-attachment-meta dd {
	display: inline;
	margin-left: 0.5em;
}

div#bp-attachments-activity-medium-preview dl.bp-attachment-meta dd:after {
	content: '';
	display: block;
}

div#bp-attachments-activity-medium-preview {
    position: relative;
}

div#bp-attachments-activity-medium-preview #bp-attachments-medium-preview-exit {
    background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 48px;
	outline: none;
	padding: 0;
	position: absolute;
	right: 2px;
	text-align: center;
	top: 2px;
	width: 48px;
	z-index: 1;
}

div#bp-attachments-activity-medium-preview #bp-attachments-medium-preview-exit:before {
    font: normal 30px/1 dashicons !important;
	color: #50575e;
	display: inline-block;
	content: "\f335";
	font-weight: 300;
	margin-top: 1px;
}

body.activity.buddypress figure.wp-block-bp-image-attachment img,
body.activity.buddypress figure.wp-block-bp-video-attachment video {
	margin-top: 1em;
	max-width: 100%;
}

body.activity.buddypress div.wp-block-bp-file-attachment {
	display: flex;
	align-items: center;
}

body.activity.buddypress div.wp-block-bp-file-attachment .bp-attachment-file-icon {
	margin-right: 2em;
}

body.activity.buddypress div.wp-block-bp-file-attachment .bp-attachments-button {
	display: block;
	width: fit-content;
	padding: 0.5em 1em;
	margin-top: 0.5em;
}

body.activity.buddypress figure.aligncenter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

body.activity.buddypress figure figcaption {
	font-size: small;
	margin: 0.5em auto;
}

body.activity.buddypress figure figcaption a {
	border-bottom: solid 1px;
}
