/* Styles for the Video Attachment Block. */
[data-type="bp/video-attachment"] {

	.components-placeholder {

		.components-placeholder__label {

			.dashicon {
				margin-right: 1em;
				color: #d84800;
			}
		}
	}
}

.wp-block-bp-video-attachment figcaption {
	font-size: small;
	margin: 0.5em auto;
}
